<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coreservlets.tutorial8_excercises"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.coreservlets.tutorial8_excercises.LayoutsInitialActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.coreservlets.tutorial8_excercises.Tutorial8_Ex1"
            android:label="@string/tutorial8_ex1_app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coreservlets.tutorial8_excercises.Tutorial8_Ex2"
            android:label="@string/tutorial8_ex2_app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coreservlets.tutorial8_excercises.Tutorial8_Ex3"
            android:label="@string/tutorial8_ex3_app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coreservlets.tutorial8_excercises.Tutorial8_Ex4"
            android:label="@string/tutorial8_ex4_app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
